

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(187, 170, 220);

}
ul{
    margin: 0;
    padding: 20px;
}
li{
    list-style: none;
    display: inline-block;

}

            li a {
                text-decoration: none;
                color: mediumpurple;
                background-color: indigo;

                margin-bottom: 2px;
                padding: 5px 15px;
                margin-left: 2px;

            }

            li a:hover{
                background-color: mediumorchid;
                color: rgb(121, 12, 229);

            }